# meshpi: allow the running user to write to the touchscreen backlight
# brightness sysfs file. This is what lets the app dim the screen on idle
# and wake it on new messages, without running as root.
#
# Install:
#   sudo cp 99-meshpi-backlight.rules /etc/udev/rules.d/
#   sudo udevadm control --reload
#   sudo udevadm trigger --subsystem-match=backlight
#
# Reboot if you do not see the brightness file flip to mode 0666.
SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chmod 0666 /sys/class/backlight/%k/brightness"
